.orderTotal {
  display: flex;
  justify-content: space-between;
}

.productDetails {
  display: flex;
  align-items: center;
  gap: 1em;

  button {
    border-radius: 100%;
    background-color: white;

    &:hover {
      cursor: pointer;
    }
  }
}

#cart {
  width: 500px;
  height: 500px;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  margin: 20px 0;
}

#products-container {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  text-align: center;
  margin: 10px;
}

.product img {
  max-width: 100px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#cart-button {
  font-size: 18px;
}

.confirmation-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: none;
  position: fixed;
}

.confirmation-modal-content {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 30rem;
}

.item-list-div {
  height: 10rem;
}
